
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Beth Blog</title>
 <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" href="{% static 'css/fondation.min.css' %}" >
 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</head>
    <body>
        <div class ="row header">
 <div class="large-6 medium-6 columns header">
    <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fa fa-pencil" aria-hidden="true" ></i></a>

            <h1><a href="">Blog</a></h1>

        </div>   </div>
       
       {% block content %}
       {% endblock %}
</div> 
</div>
    </body>
</html>