
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Beth Blog</title>
 <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" type="text/css" href="css/foundation.min.css" />
</head>
    <body>
        <div class ="row header">
 <div class="large-6 medium-6 columns header">
            
            {% block content%}
            {% endblock %}
</div> 
</div>
    </body>
</html>