
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Beth Blog</title>
 <!-- <link rel="stylesheet" type="text/css"  href="css/style.css" /> -->
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" type="text/css"  href="/static/css/foundation.min.css">
 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
 <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</head>
    <body>
       
        <div id="headerwrap">
        <div class="container">
            <br>
            <h1><a href="{% url 'blog.views.post_list' %}">Beth's Blog</a></h1>

            <h2>Technology | Inspire | Experience</h2>
            <div class="row">
                <br>
                <br>
                <br>
                <div class="large-6 columns ">
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /headerwrap -->
        <div class ="row header fullwidth">
 <div class="large-6 medium-6 columns header">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fa fa-pencil" aria-hidden="true" ></i></a>
    <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}"> Log out</a>)</small></p>
    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}

         <!--    <h1><a href="{% url 'blog.views.post_list' %}">Blog</a></h1>
 -->
        </div>   </div>
        <div class="row">
            <div class="medium-8 columns">
       
       {% block content %}
       {% endblock %}
</div> </div>

    </body>
</html>