{% extends 'blog/base.html' %}
{% block content %}
        {% for post in posts %}
        <div class="row posts">
        	<div class="large-2 medium-2 columns"></div>
            <div class="large-10 medium-10 columns post">

        <h1 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
   
        <p>{{ post.published_date }}</p>
    </div>
        <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        <hr>
   </div></div>
{% endfor %}
{% endblock %}
